body {
  font-family: 'Shrikhand', cursive;
}

h1 {
  font-size: 40pt;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  padding-bottom: 5%;
}

.jumbotron h1 {
  font-size: 70pt;
}

#play {
  padding: 50px;
  margin-top: 17%;
}

#reset {
  display: none;
  margin: auto;
}

.row {
  height: 150px;
  min-height: 150px;
}

#row-min {
  display: none;
}

#boardcontainer {
  min-height: 300px;
  min-width: 300px
}

#boardcontainer .col-md-4 {
  height: 100%;
  width: 33.33333333%;
}

#r0c0 {
  border-top: none;
  border-left: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#r0c1 {
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#r0c2 {
  border-top: none;
  border-left: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
}
#r1c0 {
  border-top: 1px solid black;
  border-left: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#r1c1 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#r1c2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
}
#r2c0 {
  border-top: 1px solid black;
  border-left: none;
  border-right: 1px solid black;
  border-bottom: none;
}
#r2c1 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
}
#r2c2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: none;
  border-bottom: none;
}

img {
  height: 100%;
  width: 100%;
}

.o {
  display: none;
}

.x {
  display: none;
}
